<p class="lead"><%= t(".opening") %></p>

<p class="lead">
  <%= link_to t(".link_text", default: "Change my password"),
    resetpassword_path(@user, token: @user.confirmation_token.html_safe) %>
</p>

<p class="lead"><%= raw t(".closing") %></p>
