<% for term in @terms do %>
  <section>
    <h2 class="h1"><%= term.name %></h2>
    <% for definition in term.definitions do %>
      <p><%= definition.meaning %></p>
    <% end %>
  </section>
<% end %>
