<div class="container">
  <div class="row">
    <% for term in @terms do %>
      <div class="col-sm-6 col-md-4">
        <div class="card card-block">
          <h3 class="card-title"><%= link_to term.name, term %></h3>
          <p class="card-text"><%= term.definitions.first.meaning %></p>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'Submit a New Term', new_term_path %>
</div>
