<% provide(:title, @term.name) %>
<% meta_tag :'og:title', @term.name %>

<h1 class="red-text text-xs-center"><%= @term.name %></h1>
<div class="col-xl-4 col-xl-offset-4">
<ol>
  <% for definition in @term.definitions %>
    <li class="lead"><p><%= definition.meaning %></p></li>
  <% end %>
</ol>

<h5 class="text-xs-center"><%= link_to "Add a New Definition", new_term_definition_path(@term) %></h5>
</div>
