<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
  <h3 class="red-text">Submit a Definition for <%= @term.name %></h3>
  <%= render 'form' %>
  <br>


<% if @definition.errors.any? %>
    <div id="error_explanation">
      <b><%= pluralize(@definition.errors.count, "error") %> prohibited this term from being saved:</b>
      <ul>
      <% @definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  </div>