/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Satisfy|Yantramanav';

$jasper: #E43B4A;
$romance: #FDFFFD;
$feta: #F1FAEE;
$aqua: #AADADB;
$wedgewood: #477C9C;
$cello: #1E3656;

body {
  font-family: Yantramanav;
  color: $cello;
}

.brand-font {
  font-family: Satisfy;
  font-size: 1.5rem;
  color: $jasper;
}

.jumbo-font {
  font-family: Satisfy;
  color: $jasper;
}

.btn-red {
  background-color: $jasper !important;
  color: white !important;
  border: none;
}

.bg-blue {
  background-color: $wedgewood;
}

.bg-navy {
  background-color: $cello;
}

a:hover {
  color: $wedgewood;
}

a {
  color: $jasper;
}

.white-text {
  color: white !important;
}

.red-text {
  color: $jasper !important;
}

.m-y-2 {
  border-top: 2px solid $feta;
}

.card-text {
  color: $wedgewood;
}

.card {
  min-height: 13rem;
  background-color: white;
  border-color: $aqua;
}

.card-footer {
  background-color: $aqua;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: none;
  a {
    color: $wedgewood;
  }
}

input, textarea {
  border-color: $wedgewood !important;
  background-color: white !important;
  color: $cello !important;
  font-size: 1.125rem !important;
}

input[type="search"] {
  color: $cello;
}

.hidden {
  display: none;
}
