<div class="fixed top-0 left-0 right-0 px3 pb1 bg-blue border-bottom">
  <ul class="list-reset">
    <li class="left h1"><%= link_to "Dictio", root_path, class: "head-font text-decoration-none navy align-middle" %></li>
    <li class="right mt1">
      <%= search_field_tag("search", nil, class: "input", placeholder: "Search") %>
    </li>
    <li class="right mr3 mt1"><%= link_to "Sign In", sign_in_path, class: "text-decoration-none navy align-middle" %></li>
  </ul>
</div>
